<h1>User info</h1>
<%= form_with model: @user do |f| %>
<p>Name</p>
<%= f.text_field :name %>
<p>Image</p>
<%= f.file_field :image, placeholder: "ファイルを選択", accept:"image/*" %>
<p>Introduction</p>
<%= f.text_field :introduction %><br>
<%= f.submit "Update User", class: "btn btn-secondary" %>
<% end %>


