<div>
  <% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
<div>
  <h1>User info</h1>
  <div class="border-bottom">
    <%= image_tag user.get_profile_image %>
  </div>
  <table width="30%">
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr align="center">
    <th>introduction</th>
    <td><%= user.introduction  %></td>
  </tr>
  </table>
</div>

<%= link_to "User Edit", edit_user_path(user.id), class: "btn btn-secondary" %>

<div>
  <h1>New book</h1>
  <%= form_with(model: book, local: true) do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %><br>
  <%= f.submit "Create Book", class: "btn btn-secondary" %>
  <% end %>
</div>