
<main class="continar">
<div class="row">
<diV class="col-md-1"></diV>

<%= render 'info', book: @book, user: @user %>

<div class="col-md-7">
<div class="border-bottom"><h1>Books</h1></div>
<table width="50%">
<tr>
  <th> </th>
  <th>Title</th>
  <th>Opinion</th>
</tr>
<div>
<% @books.each do |book| %>
<div>
<tr align="center">
<td>
<%= link_to book_path(book.id) do %>
<%= image_tag book.user.get_profile_image %>
<% end %>
</td>
<td><%= link_to book.title, book_path(book.id) %></td>
<td><%= book.body %></td>
</tr>
<% end %>
</table>
</div>
</div>
</div>
<div class="col-md-1"></div>
</div>
</main>