<main class="continar">
<div class="row">
<diV class="col-md-1"></diV>

<%= render 'info', book: @book, user: @user %>

<div class="col-md-7">
<h1>Book detail</h1>
<div>
<%= image_tag 'no_image.jpg' %>
<%= link_to '@show.user.name', user_path(current_user.id) %>
</div>
<div><%= @show.title %></div>
<div><%= @show.body %></div>
<div><%= link_to "Edit", edit_book_path %></div>
<div><%= link_to "Destroy", book_path(@show), method: :delete %></div>
</div>
<div class="col-md-1"></div>
</div>
</main>