<main class="continar">
<div class="row">
<diV class="col-md-1"></diV>

<%= render 'info', book: @book, user: @user %>

<div class="col-md-7">
<h1>Book detail</h1>
<table width="50%">
<tr align="center">
<td>
  <%= image_tag @show.user.get_profile_image %>
  <%= link_to @show.user.name, user_path(@show.user.id) %>
</td>
<td><%= link_to @show.user.name, user_path(@show.user.id) %></td>
<td><%= link_to @show.title, book_path(@show) %></td>
<td><%= @show.body %></td>
<% if @show.user == current_user %>
<td><%= link_to "Edit", edit_book_path(@show), class: "btn btn-secondary" %></td>
<td><%= link_to "Destroy", book_path(@show), method: :delete, class: "btn btn-secondary" %></td>
</tr>
<% end %>
</table>
</div>
<div class="col-md-1"></div>
</div>
</main>